/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #EBEFF5; /* Mesma cor do fundo da página de login */
}

/* O Vite cria uma div com id 'root'. Precisamos garantir que ela ocupe tudo */
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left; /* O padrão do Vite é center, isso quebra o layout */
}